.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 10px;
    text-align: center;
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 10px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 10px;
}

.item {
    background: rgba(221, 221, 221, 0.9);
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.outer-container {
    margin: 0px auto;
    max-width: 1280px;
}

a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-color: gray;
    padding: 5px;
    color: white;
    font-weight: bolder;
}

@font-face {
    font-family: HobbitonBrushhand;
    src: url(HobbitonBrushhand.ttf);
}

body.hobbit {
    font-family: HobbitonBrushhand;
    background: url("the-hobbit.jpg");
    background-size: cover;
}

body.isometric {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(30deg, #f74545 12%, transparent 12.5%, transparent 87%, #f74545 87.5%, #f74545), linear-gradient(150deg, #f74545 12%, transparent 12.5%, transparent 87%, #f74545 87.5%, #f74545), linear-gradient(30deg, #f74545 12%, transparent 12.5%, transparent 87%, #f74545 87.5%, #f74545), linear-gradient(150deg, #f74545 12%, transparent 12.5%, transparent 87%, #f74545 87.5%, #f74545), linear-gradient(60deg, #f7454577 25%, transparent 25.5%, transparent 75%, #f7454577 75%, #f7454577), linear-gradient(60deg, #f7454577 25%, transparent 25.5%, transparent 75%, #f7454577 75%, #f7454577);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

article, aside {
    padding: 10px;
}
        
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
    .grid-container1 {
        grid-template-columns: 1fr;
    }
    .grid-container2 {
        grid-template-columns: 1fr;
    }
    .grid-container3 {
        grid-template-columns: 1fr;
    }
}

main, .header {
    text-align: center;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 10px;
    padding: 10px;
}