.center {
    text-align: center;
}
@font-face {
    font-family: HobbitonBrushhand;
    src: url(HobbitonBrushhand.ttf);
}
body {
    font-family: HobbitonBrushhand;
    background-image: url('./background.jpg');
}